<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Assessment Portal</title>
<style>
    .portal {
        display: none;
    }
</style>
</head>
<body>

<button id="createAssessmentBtn">Create Assessment</button>

  <div id="assessmentPortal" class="portal">
    <h2>Upload PDF Files</h2>
    <label for="fileInput">Files: </label>
    <input type="file" id="fileInput" name="fileInput" multiple>
    <button id="uploadBtn">Upload</button>
</div>


<script>
    document.getElementById('createAssessmentBtn').addEventListener('click', function() {
        document.getElementById('assessmentPortal').style.display = 'block';
    });

    document.getElementById('uploadBtn').addEventListener('click', function(){
        var fileList = document.getElementById('fileInput').files;
        var fileListContainer = document.getElementById('fileList');
        var formData = new FormData();
        for (var i = 0; i < fileList.length; i++) {
                console.log(fileList[i]);
                formData.append('pdfFiles', fileList[i]);
        }

        fetch("/pdfparse", {
            method:"POST",
            body: formData
        }).then(response =>{
            return response.text();
        }).catch(error => {
                console.error('Error:', error);
            });
    }
);
</script>

</body>
</html>
