<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/sheetUpload" method="POST">
    <input type="text" name="sheetLink" id="sheetLink" required>
      <label for="sheetLink">Enter A Google Sheet Link</label>
      <button id="uploadSheet">Upload</button>
  </form>

  <form action="/logout" method="get">
    <button id="logout">Logout</button>
  </form>

</body>
</html>