<!DOCTYPE html>
<html>
  <head>
    <title>Sheets API Quickstart</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <p>Sheet Uploader</p>

    <form action="/auth/google" method="GET">
      <button>Login With Google</button>
    </form>
  </body>
</html>